Trianz.Enterprise.Operations/Service References/EmployeeService/EmployeeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trianz.Enterprise.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trianz.Enterprise.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignmentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCenter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfJoin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Designation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsServicingNoticePeriod" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTravelReady" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MasterSkillSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PassportNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Practice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviousExperience" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrimarySkills" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectManagerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RelievingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondarySkills" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupervisorId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Utilization" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Visa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>