Trianz.Enterprise.Operations/Service References/EmployeeService/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.16.0.217/EnterpriseServices/EmployeeService/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.16.0.217/EnterpriseServices/EmployeeService/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.16.0.217/EnterpriseServices/EmployeeService/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Trianz.Enterprise.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByID" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByEmail" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployees" message="tns:IEmployeeService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeesResponse" message="tns:IEmployeeService_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByID" message="tns:IEmployeeService_GetEmployeeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByIDResponse" message="tns:IEmployeeService_GetEmployeeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByEmail" message="tns:IEmployeeService_GetEmployeeByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByEmailResponse" message="tns:IEmployeeService_GetEmployeeByEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="EmployeeService" />
</wsdl:definitions>